//Slider images
$slide1ImgUrl : 'http://placehold.it/1920x600/BDC3C7/ffffff';
$slide2ImgUrl : 'http://placehold.it/1920x600/BDC3C7/ffffff';
$slide3ImgUrl : 'http://placehold.it/1920x600/BDC3C7/ffffff';

//Static background image
$static1ImgBg : 'http://placehold.it/3840x1200/BDC3C7/ffffff';
$static1ImgBgMedical : 'http://placehold.it/3840x1200/BDC3C7/ffffff';
$static1ImgBgLaw : 'http://placehold.it/3840x1200/BDC3C7/ffffff';

//Parallax background image
$parallaxImgBg : '../img/home-parallax.jpg';