<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6539e27f-1eea-4772-85f0-5d663545587e/resourcegroups/MinisitreFinResourceGroup/providers/Microsoft.Web/sites/MinisitreFin20200320071840</ResourceId>
    <ResourceGroup>MinisitreFinResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://minisitrefin20200320071840.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>minisitrefin20200320071840.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MinisitreFin20200320071840</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MinisitreFin20200320071840</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MinistreFinEntitiesDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:minisitrefin20200320071840dbserver.database.windows.net,1433;Initial Catalog=MinisitreFin20200320071840_db;User ID=MinFin2DB@minisitrefin20200320071840dbserver;Password=MinFin1234@" Name="Data Source=tcp:minisitrefin20200320071840dbserver.database.windows.net,1433;Initial Catalog=MinisitreFin20200320071840_db;User Id=MinFin2DB@minisitrefin20200320071840dbserver;Password=MinFin1234@;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MinisitreFin.Models.MinistreFinEntitiesDB, MinisitreFin" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:minisitrefin20200320071840dbserver.database.windows.net,1433;Initial Catalog=MinisitreFin20200320071840_db;User ID=MinFin2DB@minisitrefin20200320071840dbserver;Password=MinFin1234@" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MinisitreFin.Models.ApplicationDbContext, MinisitreFin" MigrationConfiguration="MinisitreFin.Migrations.Configuration, MinisitreFin" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MinistreFinEntities" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:minisitrefin20200320071840dbserver.database.windows.net,1433;Initial Catalog=MinisitreFin20200320071840_db;User ID=MinFin2DB@minisitrefin20200320071840dbserver;Password=MinFin1234@" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-J4OBT5F;Initial Catalog=MinistreFin;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MinistreFinEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/MF.csdl|res://*/MF.ssdl|res://*/MF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-J4OBT5F;initial catalog=MinistreFin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MinistreFinEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MF.csdl|res://*/MF.ssdl|res://*/MF.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:minisitrefin20200320071840dbserver.database.windows.net,1433;initial catalog=MinisitreFin20200320071840_db;user id=MinFin2DB@minisitrefin20200320071840dbserver;password=MinFin1234@;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:minisitrefin20200320071840dbserver.database.windows.net,1433;Initial Catalog=MinisitreFin20200320071840_db;User ID=MinFin2DB@minisitrefin20200320071840dbserver;Password=MinFin1234@</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MinistreFinEntitiesDB-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Data.csdl|res://*/Models.Data.ssdl|res://*/Models.Data.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:minisitrefin20200320071840dbserver.database.windows.net,1433;Initial Catalog=MinisitreFin20200320071840_db;User Id=MinFin2DB@minisitrefin20200320071840dbserver;Password=MinFin1234@;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>