@using PagedList.Mvc;
@using PagedList;
@model IPagedList<MinisitreFin.Models.Articles>
@{
    ViewBag.Title = "ArticlesPublic";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>Use this area to provide additional information.</p>
<p>Use hello word.</p>*@
<div class="container">
    <div class="row">

        <h1>Politique de Protection des Données Personnelles</h1>
        <h6>Version 1 en date du 14 avril 2020</h6> <br /><br /><br /><br />

        <h5>I. QUI EST LE RESPONSABLE DE TRAITEMENT ?</h5><br /><br />

        <p>L'Observatoire National des Maladies Nouvelles et Emergentes est responsable de traitement pour des finalités de santé publique.</p><br /><br />

        <h5>II. QUELLES SONT LES DONNÉES COLLECTÉES </h5>
        <h6>Les données collectées sont les suivantes :</h6><br />
        <h6>Le numéro de téléphone.</h6>
        <p>Les identifiants des autres utilisateurs de l’application avec qui vous êtes entré en contact ; les identifiants des utilisateurs changent régulièrement.</p>
        <h6>Date du contact.</h6>
        <p>Nous utilisons la localisation pour identifier un contact entre deux appareils, uniquement lorsque ces conditions sont valides simultanément :</p>
        <h6>L'application est en arrière-plan.</h6>
        <p>Les deux appareils se trouvent dans une situation de contact (à quelques mètres).</p>
        <p>Les données de localisation sont utilisées pour identifier le contact et sont supprimées automatiquement par la suite.</p>
        <p>Aucune donnée personnelle ne sera partagée avec les autres utilisateurs.</p><br /><br />
        <h5>III. QUELLE UTILISATION EST FAITE DES DONNÉES COLLECTÉES ?</h5><br />



        <p>Vos données sont collectées et traitées pour des finalités de santé publique :</p>
        <p>Détection des contacts avec les personnes infectées (Asymptomatiques ou Symptomatiques) par le Covid-19 avant et après la détection</p><br /><br />

        <h5>IV. COMMENT VOS DONNÉES SONT-ELLES COLLECTÉES ?</h5><br />
        <p>Vous données sont collectées lorsque vous vous inscrivez à l'application. L'échange des identifiants entre les utilisateurs est fait lorsque le GPS est activé.</p><br /><br />

         <h5>V. HÉBERGEMENT DES DONNÉES PERSONNELLES</h5><br />
         <p>Vos données sont stockées sur des serveurs sécurisés, hébergées sur le territoire Marocain, contrôlées par l'Observatoire National des Maladies Nouvelles et Emergentes.</p><br /><br />

         <h5>VI. DURÉE DE CONSERVATION DES DONNÉES PERSONNELLES</h5><br />

         <p>Les données collectées à un jour donné seront conservées pendant 14 jours uniquement. Elles seront détruites automatiquement dès les premières heures de la 15ème journée.</p><br /><br />

          <h5>VII. VOS DROITS</h5><br />
          <p>Vous bénéficiez d’un droit d’accès, de rectification, de portabilité, d’opposition et d’effacement des données personnelles.</p>
          <p>Vous pouvez à tout moment révoquer votre consentement au traitement de vos données.</p>
          <p>Pour toute question concernant vos droits ou pour les exercer, vous pouvez contacter : privacy@covidalert.ma</p><br /><br />

          <h5>VIII. SÉCURITÉ</h5><br />
           <p>L'Observatoire National des Maladies Nouvelles et Emergentes ainsi que ses partenaires prennent toutes les précautions utiles, ainsi que les mesures techniques et organisationnelles appropriées, pour préserver la sécurité de vos Données Personnelles et, notamment, empêcher qu’elles soient déformées, endommagées, ou que des tiers non autorisés y aient accès.</p><br /><br />
            <h5>IX. JURIDICTION COMPÉTENTE ET DROIT APPLICABLE</h5><br />
            <p>
            La présente Politique de Protection des Données Personnelles est soumise au droit Marocain à l’exclusion des règles de droit international.
              </p>
            <p>En cas de litige et dans le cas où un accord amiable ne pourrait intervenir, les tribunaux compétents seront ceux de Maroc.</p>

    </div>
</div>