<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Dashboard</title>
    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />

    <link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
    <script src="https://cdn.tiny.cloud/1/6hrqheuud1b2gndk39ybxg3857eno403gj9mfbzgzsmr149t/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Dashboard">
                <div class="sidebar-brand-icon rotate-n-15">

                </div>
                <a href="/Dashboard">

                    <img src="~/Content/img/Covid19.png" width="180" height="100" />
                </a>
                @*<div class="sidebar-brand-text mx-3">Administration</div>*@
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <!-- Nav Item - Pages Collapse Menu -->
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#admin" aria-expanded="true" aria-controls="admin">
                    <i class="fas fa-money-check-alt"></i>
                    @if ( User.IsInRole("Admin"))
                    {
                        <span>Admin System</span>
                    }
                    else if (User.IsInRole("BDF"))
                    {
                        <span>Médecins</span>
                    }
                    else {<span>Content Manager</span> }
                </a>
                <div id="admin" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @if (User.IsInRole("Admin"))
                        {<h6 class="collapse-header">Getion</h6>
                            <a class="collapse-item" href="/Utilisateurs">Médecins</a>
                            <a class="collapse-item" href="/Groupe">Groupes THEMATIQUES</a>
                            <a class="collapse-item" href="/Patients">Patients</a>
                            <a class="collapse-item" href="/Projets">Projets</a>
                            <a class="collapse-item" href="/Patient">Utilisateur App</a>
                            <a class="collapse-item" href="/Evenements">Evenements</a>
                            <a class="collapse-item" href="/Articles">Articles</a>
                            <a class="collapse-item" href="/City">Villes</a>
                        }
                        else if (User.IsInRole("BDF"))
                        {
                            <h6 class="collapse-header"> <i class="fas fa-users"> </i>  Groupes THEMATIQUES</h6>
                            <a class="collapse-item" href="/Groupe">Votre Groupe</a>
                            <a class="collapse-item" href="/Groupe/InviteGroupe">Invite Groupe</a>
                            <a class="collapse-item" href="/Patients">Patients</a>
                            <a class="collapse-item" href="/Patient">Utilisateur App</a>
                            <a class="collapse-item" href="/Initiatives1">Initiatives</a>
                            <a class="collapse-item" href="/Projets">Projets</a>


                        }
                        else
                        {
                            <a class="collapse-item" href="/Articles"> Articles</a>
                            <a class="collapse-item" href="/Evenements">Evenements</a>
                        }
                    </div>
                        </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <!-- Divider -->
            
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <!-- Nav Item - Alerts -->
                        <!-- Nav Item - Messages -->

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->

                        @Html.Partial("_LoginPartial")

                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid" style="margin-bottom:240px">
                    <!-- Page Heading -->
                    <!---->

                    <div class="row">
                        <div class="col-12">
                            @RenderBody()
                        </div>


                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; MEF @DateTime.Now.Year</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Prêt à partir ?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Sélectionnez «Déconnexion» ci-dessous si vous êtes prêt à terminer votre s
                        ession en cours.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                        <a class="btn btn-primary" href="javascript:document.getElementById('logoutForm').submit()">Déconnexion</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
       
        <script src="~/Scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Scripts/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/Scripts/js/sb-admin-2.min.js"></script>
        
</body>
</html>
